.five_postContainer {
  width: 90%;
  height: 100%;
  margin: 20px 50px 20px 50px;
}

.five_postTitle {
  width: 100%;
  margin: 0px 0px 70px 0px;
  text-transform: uppercase;

}

.five_postCommentContainer {
  width: 100%;
}

.five_postCommentBox {
  width: 100%;
  padding: 10px 10px 10px 10px;
  height: 80px;
  font-size: 1rem;
  margin: 50px 0px 10px 0px;
  border-radius: 10px;
  border-style: ridge;
  border-width: thin;
}

.five_buttonBox{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.five_commentButton {
  margin: 10px 0px 50px 0px;
  padding: 10px 10px 10px 10px;
  border-radius: 8px;
  background-color: lightblue;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  border-style: solid;
  border-color: white;
  font-size: 1rem;
}

.five_eachUserCommentBox{
  width: 100%;
  border-style: ridge;
  border-color: lightgray;
  border-radius: 10px;
  border-width: thin;
  margin: 10px 0px 10px 0px;
  padding: 10px 10px 10px 10px;
  font-size: 1rem;
}
